#============= bootanim ==============
allow bootanim userspace_reboot_exported_prop:file { getattr map open read };

#============= proc_net ==============
allow proc_net proc:filesystem associate;

#============= shell ==============
allow shell adbd_prop:file { getattr map open };
allow shell apexd_prop:file { getattr map open };
allow shell apk_verity_prop:file { getattr map open };
allow shell boottime_prop:file { getattr map open };
allow shell boottime_public_prop:file { getattr map open };
allow shell bpf_progs_loaded_prop:file { getattr map open };
allow shell charger_prop:file { getattr map open };
allow shell cold_boot_done_prop:file { getattr map open };
allow shell cpu_variant_prop:file { getattr map open };
allow shell ctl_adbd_prop:file { getattr map open };
allow shell ctl_apexd_prop:file { getattr map open };
allow shell ctl_bootanim_prop:file { getattr map open };
allow shell ctl_console_prop:file { getattr map open };
allow shell ctl_default_prop:file { getattr map open };
allow shell ctl_fuse_prop:file { getattr map open };
allow shell ctl_interface_restart_prop:file { getattr map open };
allow shell ctl_interface_start_prop:file { getattr map open };
allow shell ctl_interface_stop_prop:file { getattr map open };
allow shell ctl_mdnsd_prop:file { getattr map open };
allow shell ctl_restart_prop:file { getattr map open };
allow shell ctl_rildaemon_prop:file { getattr map open };
allow shell ctl_sigstop_prop:file { getattr map open };
allow shell ctl_start_prop:file { getattr map open };
allow shell ctl_stop_prop:file { getattr map open };
allow shell device_config_activity_manager_native_boot_prop:file { getattr map open };
allow shell device_config_boot_count_prop:file { getattr map open };
allow shell device_config_configuration_prop:file { getattr map open };
allow shell device_config_input_native_boot_prop:file { getattr map open };
allow shell device_config_media_native_prop:file { getattr map open };
allow shell device_config_netd_native_prop:file { getattr map open };
allow shell device_config_reset_performed_prop:file { getattr map open };
allow shell device_config_runtime_native_boot_prop:file { getattr map open };
allow shell device_config_runtime_native_prop:file { getattr map open };
allow shell device_config_storage_native_boot_prop:file { getattr map open };
allow shell device_config_sys_traced_prop:file { getattr map open };
allow shell device_config_window_manager_native_boot_prop:file { getattr map open };
allow shell dumpstate_options_prop:file { getattr map open };
allow shell exported_audio_prop:file { getattr map open };
allow shell exported_camera_prop:file { getattr map open };
allow shell exported_overlay_prop:file { getattr map open };
allow shell exported_wifi_prop:file { getattr map open };
allow shell fastbootd_protocol_prop:file { getattr map open };
allow shell gsid_prop:file { getattr map open };
allow shell incremental_prop:file { getattr map open };
allow shell llkd_prop:file { getattr map open };
allow shell lmkd_prop:file { getattr map open };
allow shell lowpan_prop:file { getattr map open };
allow shell mmc_prop:file { getattr map open };
allow shell net_dns_prop:file { getattr map open };
allow shell overlay_prop:file { getattr map open };
allow shell persistent_properties_ready_prop:file { getattr map open };
allow shell rpi4_system_prop:file { getattr map open };
allow shell safemode_prop:file { getattr map open };

#!!!! This avc is allowed in the current policy
allow shell self:udp_socket ioctl;
allow shell surfaceflinger_display_prop:file { getattr map open };
allow shell system_adbd_prop:file { getattr map open };
allow shell system_lmk_prop:file { getattr map open };
allow shell system_trace_prop:file { getattr map open };
allow shell test_boot_reason_prop:file { getattr map open };
allow shell theme_prop:file { getattr map open };
allow shell time_prop:file { getattr map open };
allow shell traced_lazy_prop:file { getattr map open };
allow shell userspace_reboot_config_prop:file { getattr map open };
allow shell userspace_reboot_exported_prop:file { getattr map open };
allow shell userspace_reboot_log_prop:file { getattr map open };
allow shell vehicle_hal_prop:file { getattr map open };
allow shell virtual_ab_prop:file { getattr map open };
allow shell wifi_prop:file { getattr map open };

#============= zygote ==============
allow zygote exported_camera_prop:file { getattr map open read };
