on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ${persist.rpi4.cpufreq.governor}

# cpufreq tuning
on property:persist.rpi4.cpufreq.governor=* && property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ${persist.rpi4.cpufreq.governor}

on property:persist.rpi4.cpufreq.max_freq=*
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq ${persist.rpi4.cpufreq.max_freq}

on property:sys.rpi4.boot_mode=recovery
    start switch_boot_recovery

on property:sys.rpi4.boot_mode=rom
    start switch_boot_rom

on property:sys.shutdown.requested=1recovery
    setprop sys.rpi4.boot_mode recovery

service switch_boot_recovery /system/xbin/switch_boot recovery
    user root
    group system
    disabled
    oneshot

service switch_boot_rom /system/xbin/switch_boot rom
    user root
    group system
    disabled
    oneshot

on property:persist.rpi4.gpiod.options=* && property:persist.rpi4.gpiod.lines=* && property:sys.boot_completed=1
    stop gpiod    
    start gpiod

service gpiod /system/bin/gpiod ${persist.rpi4.gpiod.options} ${persist.rpi4.gpiod.lines}
    user root
    group system
    disabled
    oneshot

on property:persist.rpi4.gpiosetd.options=* && property:persist.rpi4.gpiosetd.values=* && property:sys.boot_completed=1
    stop gpiosetd    
    start gpiosetd

service gpiosetd /system/bin/gpiosetd ${persist.rpi4.gpiosetd.options} ${persist.rpi4.gpiosetd.values}
    user system
    group system
    disabled
    oneshot

on property:sys.boot_completed=1
    start ttyreader

service ttyreader /system/bin/ttyreader
    user system
    group system
    disabled
    oneshot

service input_keyevent /system/bin/input keyevent ${sys.rpi4.ttyreader.key}
    user system
    group system
    disabled
    oneshot

on property:sys.rpi4.ttyreader.key=*
    start input_keyevent
