import /vendor/etc/init/hw/init.rpi4.usb.rc

on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi4

on zygote-start
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/sockets 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd/ctrl 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/vendor/wifi/wigig_hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # Create directories for Location services
    mkdir /data/vendor/location 0770 gps gps

on property:ro.revision=*
    start btuart

service btuart /vendor/bin/btuart /dev/ttyAMA0 bcm43xx 3000000 flow - ${ro.serialno}
    user bluetooth
    group bluetooth net_bt_admin system
