# Bluetooth
/dev/ttyAMA0                                                                 0660   bluetooth  bluetooth
/dev/rfkill                                                                  0660   bluetooth  bluetooth
/sys/devices/platform/soc/fe201000.serial/tty/ttyAMA0/hci0/rfkill1  state    0660   bluetooth  bluetooth
/sys/devices/platform/soc/fe201000.serial/tty/ttyAMA0/hci0/rfkill1  type     0440   bluetooth  bluetooth

/dev/ion	              0666 system graphics
/dev/dma_heap/linux,cma	0666 system graphics

/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera

# GPS
/dev/ttyACM0                                                                 0660   gps     gps

# cpufreq
/sys/devices/system/cpu/cpu*   cpufreq/scaling_governor   0664  system system

# cutiepi mcu
/dev/ttyS0                                                                 0666   system  system

# Sensors
/dev/iio:device*                                                             0660   system     system
